.navbar {
  z-index: 1000;
  width: 100%;
  background-color: #B573C6;
  position: fixed;
  bottom: 0;
}

table {
  width: 100%;
}

td {
  text-align: center;
}

p {
  font-size: 10px;
  margin: 0;
  color: #E9F18A;
}
