<div class="navbar">
  <table>
    <tr>
      <td>
        <img src="../../assets/Icons/show_chart_black_24dp.svg" width="30px" height="30px">
        <p>Invest</p>
      </td>
      <td>
        <img src="../../assets/Icons/leaderboard_black_24dp.svg" width="30px" height="30px">
        <p>Insights</p>
      </td>
      <td>
        <img src="../../assets/Icons/savings_black_24dp.svg" width="30px" height="30px">
        <p>Budget</p>
      </td>
      <td>
        <img src="../../assets/Icons/notes_black_24dp.svg" width="30px" height="30px">
        <p>Goals</p>
      </td>
      <td>
        <img src="../../assets/Icons/person_black_24dp.svg" width="30px" height="30px">
        <p>Profile</p>
      </td>
    </tr>
  </table>
</div>
