<div class="row">
  <div class="col-xs-10">
      <div class="card b-cards" style="margin-top: 4em;">
        <div class="card-body" style="padding: 0;">
          <h6 class="card-title">Income</h6>
          <table>
            <tr>
              <td>Paycheck 1</td>
              <td class="money">
                <input
                  matInput
                  class="form-control"
                  type="number"
                  placeholder="$0.00"
                  #income>
            </tr>
            <tr>
              <td>Paycheck 2</td>
              <td class="money">
                <input
                  matInput
                  class="form-control"
                  type="number"
                  placeholder="$0.00"
                  #income>
              </td>
            </tr>
            <tr style="border: none;">
              <td>
                <p style="margin-bottom: 2px; font-size: large; font-weight: 200;color: #B573C6;">&#43;</p>
              </td>
            </tr>
          </table>
        </div>
      </div>
  </div>
</div>
